<% if post.present? %>
<div class="card image">
  <img src="https://proglib.io/wp-content/uploads/2018/08/Ruby-Language-1024x576-e1534132010553.png"
       class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= post.body %></p>
  </div>
</div>
<% else %>
  <h3>No Posts</h3>
<%end %>