body {
  background-color: darkgrey;
}

.size {
  margin: 10rem 30rem 15rem 30rem;
  color: black;
  text-align: center;
}

.borders {
  border-radius: 1rem;
  background-color: lightgrey;
  border-color: black;
}

.buttons {
  border-color: black;
  background-color: gray;
  color: black;
}

