.size {
  margin: 10rem 30rem 15rem 30rem;
  color: blue;
  text-align: center;
}

.borders {
  border-radius: 1rem;
  background-color: aliceblue;
  border-color: blue;

}

body {
  background-color: powderblue;
}
